
#bigContainer{
	width:1000px;
	height:600px;
	/*background-color: gray;	*/
	display:inline-block;
}
#elementContainer{
	
	margin:0 auto;
	display:inline-block;
	vertical-align: top;
	width:925px;
}
#topRow{
	width:1000px;
	height:50px;
	/*background-color: orange;*/
	display:inline-block;
	/*text-align: center;*/
}
#HHe{
	width:1000px;
	height:50px;
	/*background-color: pink;*/
	display:inline-block;
	margin-top:5px;
	margin-bottom: -4px;
}
#leftColumn{
	height:550px;
	width:50px;
	display:inline-block;
	/*background-color: black;*/
	margin-right:-4px;
	margin-top: 10px;
	text-align: center;
}
.marginT{
	margin-top: 10px;
}
#left{
	width:100px;
	height:300px;
	/*background-color: orange;*/
	display:inline-block;
	text-align: center;
}
#mid{
	width:500px;
	height:200px;
	/*background-color: orange;*/
	display:inline-block;
	text-align: center;
	vertical-align: bottom;
	margin-left: 10px;
}
#right{
	width:300px;
	height:300px;
	/*background-color: orange;*/
	display:inline-block;
	text-align: center;
}
#bottom{
	margin-top: 5px;
	width:700px;
	height:100px;
	/*background-color: orange;*/
	display:inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 114px;
}
.elementBoxes{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid black;
	margin:0 auto;
	margin-top: 3px;
	
}
.elementBoxesT{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	vertical-align: middle;
	text-align: center;
}
.elementBoxesT2{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	margin:0 auto;
	vertical-align: middle;
	margin-left: 12px;
	text-align: center;
}
.elementBoxesT3{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	margin:0 auto;
	vertical-align: middle;
	margin-left: 8px;
	text-align: center;
}
.elementBoxesT4{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	vertical-align: middle;
	text-align: center;
	margin-left: 2px;
}
.elementBoxesT5{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	vertical-align: middle;
	text-align: center;
	margin-left: -2px;
}
.elementBoxesHHe{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: middle;
	text-align: center;
}
.elementBoxesl{
	height:44px;
	width: 44px;
	display: inline-block;
	border: 1px solid white;
	margin:0 auto;
	margin-top: 0px;
	
}
p{
	width:0 auto;
	margin:0px;
	padding: 0px;
	font-size: 10px;
}
.atomicNumber{

}
.elementName a{
font-weight: bold;
font-size: 13px;
text-decoration: none;
color:black;
}
.atomicMass{

}
.blueBack{
	/*background-color: blue;*/
	background-color: rgb(104,155,255)
}
.redBack{
	/*background-color: red;*/
	background-color: rgb(253,154,152)
}
.yellowBack{
	/*background-color: yellow;*/
	background-color: rgb(254,203,0)
}
.greenBack{
	/*background-color: green;*/
	background-color: rgb(31,202,33)
}
